{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block css %}

{% endblock css %}

{% block content %}
  <!-- header -->
  {% include 'header.html' %}
  <!-- end header inner -->
  <h2> Nuevo Producto</h2>
  <form action ="" class="Producto_formulario" method="post">

    {% csrf_token %}

    {% for item in form %}
    <div>
      {{item.label}}
      {{item}}
    </div>
    {% endfor %}

    <p>{{mensaje}}</p>


    <br>
    <button type="submit" id="btnEnviar" class="button"> Registrar </button> 


  </form>
  
  <!--  footer -->
  {% include 'footer.html' %}
  <!-- end footer -->

{% endblock content %}

{% block js %}{% endblock js %}

