@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/* Contenedor de formalario  */
.formulario {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: inline-start;
    width: 30.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid ;
    border-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #afadb4 0%, #f0ebee 100%);
}
/* Contendor de login */
 .login-container {
    height: 20.75em;
    width: 40em;
    margin: 10em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
/* Contenedor de registro */
.register-container {
    height: 35.75em;
    width: 40em;
    margin: 5em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
/* Tamaños */
@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .image-container {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }
}
/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

header{
    background-color: #000;
    color: #f0ebee;
}
.nav-item{
    color: #f0ebee;
}
@media (min-width: 1200px) and (max-width: 1342px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 20px;
    }
    .text-bg span {
        font-size: 41px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 11px;
    }
    .text-bg h1 {
        font-size: 56px;
        line-height: 66px;
        padding-bottom: 21px;
    }
    .text-bg span {
        font-size: 31px;
        line-height: 42px;
    }
    .text-bg a {
        max-width: 163px;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 9px;
    }
    .banner_main {
        min-height: 705px;
    }
    .text-bg h1 {
        font-size: 40px;
        line-height: 65px;
        padding-bottom: 10px;
    }
    .text-bg span {
        font-size: 21px;
        line-height: 23px;
    }
    .text-bg a {
        max-width: 107px;
        padding: 9px 0px;
    }
    .d_none {
        display: none;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .text-bg h1 {
        font-size: 70px;
        line-height: 40px;
        padding-bottom: 25px;
    }
    #banner1 .carousel-inner {
        padding-right: 0;
    }
    .text_img {
        margin-right: 0px;
    }
    #banner1 .carousel-indicators {
        bottom: -40px;
    }
    .text-bg span {
        font-size: 38px;
    }
    .text-bg a {
        margin-bottom: 30px;
        max-width: 202px;
    }
    .box_text {
        margin-bottom: 30px;
    }
    .bottom_form h3,
    
    .main_form {
        margin: 0;
    }
    ul.location_icon li {
        font-size: 17px;
        padding-left: 13px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        padding-top: 12px;
    }
    .navigation .navbar-collapse {
        background: #c9cecc;
        padding: 20px;
        margin-top: 64px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #000;
    }
    .navigation.navbar-dark .navbar-nav .nav-link:focus,
    .navigation.navbar-dark .navbar-nav .nav-link:hover {
        color: #b63e3e;
    }
    .navigation.navbar-dark .navbar-nav .active>.nav-link,
    .navigation.navbar-dark .navbar-nav .nav-link.active,
    .navigation.navbar-dark .navbar-nav .nav-link.show,
    .navigation.navbar-dark .navbar-nav .show>.nav-link {
        color: #fff;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding-top: 6px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .d_none {
        display: none;
    }
}

@media (max-width: 575px) {
    .header {
        padding: 30px 0px 15px 0px;
    }
    .logo {
        text-align: center !important;
        padding-bottom: 6px;
        float: left;
    }
    #banner1 .carousel-inner {
        padding-right: 0;
    }
    .text_img {
        margin-right: 0px;
        margin-top: 30px;
    }
    #banner1 .carousel-indicators {
        bottom: -40px;
    }
    .text-bg h1 {
        font-size: 47px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    .text-bg span {
        font-size: 25px;
        line-height: 47px;
    }
    .text-bg a {
        max-width: 132px;
        padding: 10px 0px;
    }
    .box_text {
        margin-bottom: 30px;
    }
    .titlepage h2 {
        font-size: 30px;
    }
    .main_form {
        margin: 0px;
        padding: 70px 30px;
    }
    .footer h3,
    .bottom_form h3 {
        margin-top: 30px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        margin-top: -96px;
    }
    .navigation .navbar-collapse {
        background: #0e1613;
        padding: 20px;
        margin-top: 67px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #000;
    }
    .navigation.navbar-dark .navbar-nav .nav-link:focus,
    .navigation.navbar-dark .navbar-nav .nav-link:hover {
        color: #fff;
    }
    .navigation.navbar-dark .navbar-nav .active>.nav-link,
    .navigation.navbar-dark .navbar-nav .nav-link.active,
    .navigation.navbar-dark .navbar-nav .nav-link.show,
    .navigation.navbar-dark .navbar-nav .show>.nav-link {
        color: #913232;
    }
    .navigation.navbar-dark .navbar-toggler {
        float: right;
        margin-right: 2px;
        border: inherit;
    }
    .testimonial_box {
        padding: 0px 19px 40px 20px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .d_none {
        display: none;
    }
}

.footer{
    color: #afadb4;
    margin: 0px 0px 0px 0px;
    text-align: center;
    background-color: #000;
    max-width: 100%;
    height: 345px;
}
#texto{
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
}
#social_icon{
    margin-left: 38%;
    margin-top: 50px;
    margin-bottom: 30px;  
}
.titulo1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.mb10{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    
}
.bi-house-fill{
    margin-top: -8px;
    margin-right: 25px;
}
.nav-item{
    margin-right: 25px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center-desk{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 20px;
    color: #fff;
    line-height: 42px;
}
h2{
    border-radius: 10px;
    color:#fff;
    background-color: #000;
}