{% load static %}
<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <title>Taller Mecanico</title>
      {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> {% endcomment %}
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      {% comment %} <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> {% endcomment %}
      <!-- fevicon -->
      <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      {% comment %} <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}"> {% endcomment %}
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   </head>
   <!-- body -->
   <body class="main-layout inner_posituong">
      <!-- header -->
      {% include 'header.html' %}
      <!-- end header inner -->
      <!-- Body del CLiente  -->
      <div class="container" style="margin-top: 20px; margin-bottom: 10px; text-align: center;">
         <h2>Agenda tu hora con tu mecánico favorito</h2>
      </div>
      <div class="container" style="display: flex; justify-content: space-evenly; align-items: center; margin-bottom: 25px; font-family:  Verdana, Geneva, Tahoma, sans-serif; ">
         <table style="display: flex; align-items: center;">
            <th style="align-items: center;" >
               <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" fill="currentColor" class="bi bi-calendar3" viewBox="-5 -5 21 21">
                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
               <div class="boton" style="margin-right: 120px; padding: 10px 20px; color: aliceblue; border: none; border-radius: 10px; text-decoration: none; margin-right: 120px;">
                  <a class="btn btn-success" href="{% url 'agenda' %}">Agendar horas mecánico</a>
               </div>
            </th>
            <th>
               <svg xmlns="http://www.w3.org/2000/svg" width="180" height="170" fill="currentColor" class="bi bi-calendar2-check-fill" viewBox="-5 -5 21 21">
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zm-2.6 5.854a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                </svg>
                <div class="boton" style="padding: 10px 20px; color: aliceblue; border: none; border-radius: 5px; text-decoration: none;">
                  <a class="btn btn-success" href="{% url 'running_events' %}">Ver Horas Agendadas</a>
               </div>
            </th>
         </table>
      </div> 
      <!--  footer -->
      {% include 'footer.html' %}
      <!-- end footer -->
      <!-- Javascript files-->
      {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script> {% endcomment %}
      <!-- sidebar -->
      {% comment %} <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script> {% endcomment %}
      {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> {% endcomment %}
      {% comment %} <script src="{% static 'js/custom.js' %}"></script> {% endcomment %}
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      
   </body>
</html>

