{% load static %}
<footer>
    <div class="footer">
       <div class="container" id="texto">
          <div class="row">
            <div class=" col-sm-4 col-md  col-8 col">
                <h5 class="headin5_amrc col_white_amrc pt2" style="margin-top: 25px;">Taller mecánico</h5>
                <p><i class="fa fa-location-arrow"></i> Nos ubicamos en: <br> Santa María 2321, Peñalolen</p>
                <p><i class="fa fa-phone"></i>  +56931189636  </p>
                <p><i class="fa fa fa-envelope"></i> contacto@lostorettos.cl</p>
            </div>
            <div class=" col-sm-4 col-md  col-8 col" style="margin-top: 25px;">
                <h5 class="headin5_amrc col_white_amrc pt2">REDES SOCIALES</h5>
                <img src="{% static 'img/facebook.png' %}" width="30" height="30" alt="mapa de la empresa">
                <img src="{% static 'img/instagram.png' %}" width="30" height="30" alt="mapa de la empresa">
                <img src="{% static 'img/twitter.png' %}" width="30" height="30" alt="mapa de la empresa">
                <img src="{% static 'img/whatsapp.png' %}" width="30" height="30" alt="mapa de la empresa">
            </div>    
            <div class="copyright" style="margin-bottom: 25px;">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <p>© 2023 All Rights Reserved. Design by Los Torettos </p>
                      </div>
                   </div>
                </div>
             </div>       
             </div>
          </div>
       </div>
       
    </div>
 </footer>